/*----------------------------- 
	стилизация главной страницы
---------------------------- */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	height: 100%;
	border: none;
	margin: 0;
}
.heading {
	font-family: sans-serif;
	font-size: 30px;
	text-align: center;
	margin: 50px;
}
.nav-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 50px;
}
.link-nav-block {
	font-family: sans-serif;
	font-weight: 700;
	text-decoration: none;
	color: black;
}
.link-nav-block:hover {
	font-size: 18px;
	transition: 0.2s;
}
.parser-form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	border:2px solid black;
	padding: 25px;
	border-radius: 20px;
	width: 500px;
	margin-bottom: 50px;
}
.par-form {
	font-family: sans-serif;
	font-weight: 700;
	margin: 10px;
	text-align: center;
}
.input-parser-form {
	margin: 10px 0;
	border:1px solid black;
	border-radius: 10px;
	margin-bottom: 20px;
	height: 30px;
}
.button-parser-form {
	border: none;
	border-radius: 10px;
	height: 30px;
	background-color: #000000;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 17px;
}
.block-status {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
.header-block-status {
	font-family: sans-serif;
	font-size: 35px;
	font-weight: 700;

}
.content-block-status {
	font-family: sans-serif;
	font-size: 20px;
	padding: 10px;
	border-radius: 20px;
}
.output-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.first-block,
.second-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	width: 45vw;
}
.title-links-polisy,
.pd-inputs {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}
.link-polisy {
	text-decoration: none;
	color: black;
}
.link-polisy:hover {
	font-weight: 900;
}
.contant-links,
.contant-inputs {
	font-family: sans-serif;
	font-size: 17px;
	text-align: center;
}
.error {
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
	color: red;
	margin: 0;
	margin-top: -10px;
	margin-bottom: 10px;
}
/*--------------------------------------------------------- 
	стилизация страницы редактирования словаря полей вводов
-------------------------------------------------------- */
.dictionary-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
.word-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	width: 45vw;
}
.word {
	font-family: sans-serif;
	font-weight: 700;
	padding: 14px 0;
	background-color: #dedede;
	width: 45vw;
	text-align: center;
	border: none;
}
.function-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;;
}
.function {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	width: 45vw;
	padding: 8px 0;
	background-color: #efefef;
}
.input-function-form {
	border: 1px solid black;
	border-radius: 10px;
	height: 30px;
	background-color: #fff;
	color: #000;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 17px;
	cursor: pointer;
}
