<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Парсер</title>
	<link type="text/css" href="{{ url_for("static", filename="css/style.css") }}" rel="stylesheet">
</head>
<body>
	<h1 class="heading">парсер полей ввода и политик конфиденциальности</h1>
	<nav class="nav-block">
		<a href="/input_dictionary" class="link-nav-block">словарь полей ввода ПДн</a>
		<a href="/policy_dictionary" class="link-nav-block">словарь политик конфиденциальности</a>
	</nav>
	<form class="parser-form" action="/parser" method='POST'>
		<p class="par-form">введите адрес страницы</p>
		<input class="input-parser-form" name="url" type="text" placeholder="  url изучаемой страницы" value="{{url2}}">
		<p class="error">{{url_err}}</p>
		<input class="button-parser-form" type='submit' name='submit'/>
	</form>
	<div class="block-status">
		<h1 class="header-block-status">Вердикт</h1>
		{% if status == 0 %}
			<p class="content-block-status" style="border: solid yellow 2px; color: yellow;">сайт не обрабатывает ПДн</p>
		{% elif status == 1 %}
			<p class="content-block-status" style="border: solid red 2px; color: red;">сайт <strong>нарушает</strong> законодательство относительно обработки персональных данных</p>
		{% elif status == 2 %}
			<p class="content-block-status" style="border: solid green 2px; color: green;">сайт <strong>соблюдает</strong> законодательство относительно обработки персональных данных</p>
		{% endif %}
	</div>
	<div class="output-block">
		<div class="first-block">
			<p class="title-links-polisy">теги ссылок на политики конфиденциальности (кликните на тег, чтобы открыть ссылку)</p>
				{% for i in pd_links %}
					<a class="link-polisy" target="_blank" href="{{'https://'+DomainName.group(1)+i.get('href')}}">
						<p class="contant-links">{{i}}</p>
					</a>
				{% endfor %}
		</div>
		<div class="second-block">
			<p class="pd-inputs">поля ввода персональных данных</p>
			{% for i in all_inputs %}
				<p class="contant-inputs">{{i}}</p>
			{% endfor %}
		</div>
	</div>
</body>
</html>
