<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Парсер</title>
	<link type="text/css" href="{{ url_for("static", filename="css/style.css") }}" rel="stylesheet">
</head>
<body>
	<h1 class="heading">словарь поиска полей ввода ПДн</h1>
	<nav class="nav-block">
		<a href="/" class="link-nav-block">главная</a>
		<a href="/policy_dictionary" class="link-nav-block">словарь политик конфиденциальности</a>
	</nav>
	<form action="/insert" class="function-form" method='POST'>
		<input type='submit' class="input-function-form" value="добавить новую запись">
	</form>
	<div class="dictionary-block">
		<div class="word-block">
			{% for i in input_dictionaryEN %}
				<p class="word">{{ i.word }}(EN)</p>
			{% endfor %}
			{% for i in input_dictionaryRU %}
				<p class="word">{{ i.word }}(RU)</p>
			{% endfor %}
		</div>
		<div class="function-block">
			{% for i in input_dictionaryEN %}
				<div class="function">
					<form action="/delEN" class="function-form" method='POST'>
						<input name="id" type="hidden" value="{{i.id}}">
						<input type='submit' class="input-function-form" value="удалить">
					</form>
					<form action="/updateEN" class="function-form" method='POST'>
						<input name="id" type="hidden" value="{{i.id}}">
						<input type='submit' class="input-function-form" value="изменить">
					</form>
				</div>
			{% endfor %}
			{% for i in input_dictionaryRU %}
				<div class="function">
					<form action="/delRU" class="function-form" method='POST'>
						<input name="id" type="hidden" value="{{i.id}}">
						<input type='submit' class="input-function-form" value="удалить">
					</form>
					<form action="/updateRU" class="function-form" method='POST'>
						<input name="id" type="hidden" value="{{i.id}}">
						<input type='submit' class="input-function-form" value="изменить">
					</form>
				</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>