<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Парсер</title>
	<link type="text/css" href="{{ url_for("static", filename="css/style.css") }}" rel="stylesheet">
</head>
<body>
	<h1 class="heading">словарь поиска ссылок на политики конфиденциальности</h1>
	<nav class="nav-block">
		<a href="/" class="link-nav-block">главная</a>
		<a href="/input_dictionary" class="link-nav-block">словарь полей ввода ПДн</a>
	</nav>
	<form action="/insert-policy" class="function-form" method='POST'>
		<input type='submit' class="input-function-form" value="добавить новую запись">
	</form>
	<div class="dictionary-block">
		<div class="word-block">
			{% for i in policy_dictionaryRU %}
				<p class="word">{{ i.word }}(RU)</p>
			{% endfor %}
			{% for i in policy_dictionaryEN %}
				<p class="word">{{ i.word }}(EN)</p>
			{% endfor %}
		</div>
		<div class="function-block">
			{% for i in policy_dictionaryRU %}
				<div class="function">
					<form action="/del-policyRU" class="function-form" method='POST'>
						<input name="id" value="{{i.id}}" type="hidden">
						<input type='submit' class="input-function-form" value="удалить">
					</form>
					<form action="/update-policyRU" class="function-form" method='POST'>
						<input name="id" value="{{i.id}}" type="hidden">
						<input type='submit' class="input-function-form" value="изменить">
					</form>
				</div>
			{% endfor %}
			{% for i in policy_dictionaryEN %}
				<div class="function">
					<form action="/del-policyEN" class="function-form" method='POST'>
						<input name="id" value="{{i.id}}" type="hidden">
						<input type='submit' class="input-function-form" value="удалить">
					</form>
					<form action="/update-policyEN" class="function-form" method='POST'>
						<input name="id" value="{{i.id}}" type="hidden">
						<input type='submit' class="input-function-form" value="изменить">
					</form>
				</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>