<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Парсер</title>
	<link type="text/css" href="{{ url_for("static", filename="css/style.css") }}" rel="stylesheet">
</head>
<body>
	{% if check == 0 %}
		{% if id %}
			<h1 class="heading">редактирование выбранного элемента словаря полей ввода ПДн</h1>
			<nav class="nav-block">
				<a href="/input_dictionary" class="link-nav-block">отменить редактирование</a>
			</nav>
			{% if lan == 0 %}
				<form class="parser-form" action="/update-wordEN" method='POST'>
					<p class="par-form">внесите изменения</p>
					<input class="input-parser-form" name="word" type="text" value="{{input_word}}">
					<input name="id" type="hidden" value="{{id}}">
					<input class="button-parser-form" type='submit' value="изменить"/>
				</form>
			{% elif lan == 1 %}
				<form class="parser-form" action="/update-wordRU" method='POST'>
					<p class="par-form">внесите изменения</p>
					<input class="input-parser-form" name="word" type="text" value="{{input_word}}">
					<input name="id" type="hidden" value="{{id}}">
					<input class="button-parser-form" type='submit' value="изменить"/>
				</form>
			{% endif %}
		{% else %}
			<h1 class="heading">добавление новой записи в словарь полей ввода ПДн</h1>
			<nav class="nav-block">
				<a href="/input_dictionary" class="link-nav-block">отменить добавление</a>
			</nav>
			<form class="parser-form" action="/insert-word" method='POST'>
				<p class="par-form">впишите новую запись</p>
				<select class="input-parser-form" name="lan">
					<option>EN</option>
					<option>RU</option>
				</select>
				<input class="input-parser-form" name="word" type="text">
				<input class="button-parser-form" type='submit' value="добавить"/>
			</form>
		{% endif %}
	{% elif check == 1 %}
		{% if id %}
			<h1 class="heading">редактирование выбранного элемента словаря политик конфиденциальности</h1>
			<nav class="nav-block">
				<a href="/policy_dictionary" class="link-nav-block">отменить редактирование</a>
			</nav>
			{% if lan == 0 %}
				<form class="parser-form" action="/update-word-policyRU" method='POST'>
					<p class="par-form">внесите изменения</p>
					<input class="input-parser-form" name="word" type="text" value="{{policy_word}}">
					<input name="id" type="hidden" value="{{id}}">
					<input class="button-parser-form" type='submit' value="изменить"/>
				</form>
			{% elif lan == 1 %}
				<form class="parser-form" action="/update-word-policyEN" method='POST'>
					<p class="par-form">внесите изменения</p>
					<input class="input-parser-form" name="word" type="text" value="{{policy_word}}">
					<input name="id" type="hidden" value="{{id}}">
					<input class="button-parser-form" type='submit' value="изменить"/>
				</form>
			{% endif %}
		{% else %}
			<h1 class="heading">добавление новой записи в словарь политик конфиденциальности</h1>
			<nav class="nav-block">
				<a href="/policy_dictionary" class="link-nav-block">отменить добавление</a>
			</nav>
			<form class="parser-form" action="/insert-word-policy" method='POST'>
				<p class="par-form">впишите новую запись</p>
				<select class="input-parser-form" name="lan">
					<option>EN</option>
					<option>RU</option>
				</select>
				<input class="input-parser-form" name="word" type="text">
				<input class="button-parser-form" type='submit' value="добавить"/>
			</form>
		{% endif %}
	{% endif %}
	
</body>
</html>